parameters:
    level: 8
    paths:
        - src/
    bootstrapFiles:
        - tests/bootstrap.php
    checkGenericClassInNonGenericObjectType: false
    checkMissingIterableValueType: false
    excludePaths:
    ignoreErrors:
        - '#Call to method .+\(\) on an unknown class Generated\\.+\\Ide\\AutoCompletion.#'
        - '#Call to method .+ on an unknown class Orm\\Zed\\UnzerApi\\Persistence\\.+#'
        - '#.+has invalid return type Orm\\Zed\\UnzerApi\\Persistence\\.+#'
